
.successfulPage {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .container {
    margin-top: 100px;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .successIcon {
    font-size: 50px;
    color: #28a745;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .meetingDetails {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .note {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
  }
  
  #addToCalendar {
    background-color: #d63384;
  }
  
  #shareViaWhatsapp {
    background-color: #25d366;
  }
  
  .button:hover {
    opacity: 0.9;
  }
  